<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>VUE</title>
</head>
<body>
<div id="app">
  <!-- Part of the own made API site -->
  <!-- the Chuck part -->
  <!-- <ul>
    <li v-for="joke in jokes_cats">Chuck joke -> {{ joke }} !</li>
  </ul> -->

  <label>
    Namn
    <input v-model="name" placeholder="Namn">
  </label>
  <label>
    Befolkning
    <input v-model="population" placeholder="Befolkning" type="number">
  </label>
  <input @click="addCity()" type="button" value="Lägg till stad">
  <br><br>
  <label>
    ID nummer
    <input v-model="id" placeholder="Id nummer">
  </label>
  <input @click="eraseCity()" type="button" value="Ta bort stad">
  <dl v-if="cities !== null">
    <template v-for="city in cities">
      <dt>{{ city.name }}</dt>
      <dd>{{ city.population }}</dd>
      <dd>{{ city.id }}</dd>
    </template>
  </dl>
  <p v-else>Laddar...</p>
</div>
<script src="index.js"></script>
</body>
</html>
